
/* font-familly */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

/* universal-style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
/* header section */
header{
    margin: 25px;
}
.haeder-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-logo h4{
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}
/* common style */
span{
    color: #FF5400;;
    font-size: 30px;
    font-weight: 800;
}
.header-nav{

}
.header-nav nav ul{
    display: flex;
    gap: 1.2rem;
}
nav ul li{
    list-style-type: none;
    color:#424247;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
#fa-bar{
    display: none;
}
/* banner section */
.banner-section{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    margin: 0 auto;
    max-width:992px;
   height:550px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size:cover;
}
.banner-content{
    margin: 0 auto;
    padding:70px 20px 20px 20px;
}
.banner-input{
    display:flex;
    margin: 0 auto;
    gap: 20px;

}
.banner-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.banner-input-three{
    max-width: 15.2rem;
    height: 2.5rem;
    border: 0;
    padding: 8px 16px;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
}
/* #angle{
    position: relative;
    align-items: center;
    right: 40px;
    top: 15px;
    color: rgba(19, 19, 24, 0.7);
} */
.btn{
    max-width: 10.2rem;
    height: 2.5rem;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    padding: 8px 16px;
}

/* section popular tour */
.popular-tour{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.popular-tour-details{
    /* width: 450px; */
    color: rgba(19, 19, 24, 0.70);
    
}
.popular-tour-details ul{
    padding-left: 25px;
}
.tour-head{
    color: #131318;
    text-align: center;
    font-weight: 700;
}
.tour-details{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}
#tour-image{
   height: 300px;
   width: 100%;
}

/* destination */
.desti-h2{
    color: #131318;
    text-align: center;
    /* font-size: 40px; */
    font-weight: 600;
}

.desti-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.destination-image{
    display: grid;
    gap: 25px;
    justify-content: space-between;
    grid-template-areas:
    "maldives indonessia indonessia"
    "srilanka america kashmir "
    "bangladesh bandorban bandorban"
    ;
}
.destini-img7{
    width: 100%;
}
/* destini images */
.one{
    grid-area: maldives;
}
.two{
    grid-area: indonessia;
}
.three{
    grid-area: srilanka;
}
.four{
    grid-area: america;
}
/* .five img{
    width: 100%;
} */
.five{
    grid-area: kashmir;
}
.six{
    grid-area: bangladesh;
}
.seven{
    grid-area: bandorban;
}

/* choose section */

.choose-section h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
}
.choose-section p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-weight: 400;
}
.choose-description{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.div-three{
    width: 350px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 10px;
}


/* responsive */
/* for mobile */
@media screen and (max-width:600px) {
    .haeder{
        padding: 10px;
    }
    ul li{
        display: none;
    }
    #fa-bar{
        display: block;
    }
    .banner-section img{
        width: 570px;
    }
    .banner-input{
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .popular-tour{
        flex-direction: column;
    }
    .destination{
        display: grid;
    }
    .destini-img7{
        width: 325px;
        height: 150px;
    }
    .destination-image{
        grid-template-areas: 
        "maldives"
        "indonessia"
        "srilanka"
        "america"
        "kashmir"
        "bangladesh"
        "bandorban";
    }

    /* desc */
    .choose-description{
        flex-direction: column;
        margin: 0 auto;
        padding: 5px;
    }
}